@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.rating_to_star {
  display: inline-block;
  border: none;
}

.rating_to_star > input {
  display: none;
}

.rating_to_star > label:before {
  margin: 6px;
  font-size: 1.25em;
  display: inline-block;
  content: '\f005';
  font-family: FontAwesome;
}

.rating_to_star > .half:before {
  content: '\f089';
  position: absolute;
}

.rating_to_star > label {
  color: #ddd;
  float: right;
}

.rating_to_star .checked {
  color: #ffd700;
}
