@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('./img/background.jpg');
  background-size: cover;
}

.addButton {
  color: #ffda00;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  border: 2px solid #ffda00;
  padding: 10px 40px;
  margin-right: 2em;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/COMdoWZ.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 7% 50%;
  border-radius: 5px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.addButton:hover {
  color: #000000;
  background-color: #ffda00;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/rFQ5dHA.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.addButton:focus {
  outline: none;
}

.details,
.dashboard {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow-y: scroll;
  padding: 15px 30px;
  border-radius: 5px;
  min-width: 800px;
}

.dashboard > div {
  display: flex;
  flex-wrap: wrap;
}

.dashboard > .header + div,
.details > .header + div {
  margin-top: 35px;
}

.dashboard > .header + div {
  min-height: 82.5vh;
  align-items: left;
}

.header {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: black;
  padding: 8px 5%;
}

.header > .ui.input {
  min-width: 250px;
  max-width: 350px;
  width: 33%;
  border-radius: 4px;
}
.header > .ui.input > .ui.button {
  background: #e0e1e2 none;
  color: #7d160a;
}

.details .ui.grid {
  margin: 65px 0 0 0;
  padding: 0;
  height: 660px;
  background-color: black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.details .ui.horizontal.segments {
  background-color: black;
  height: 100%;
}

.details .grid_left {
  height: 100%;
  width: 100%;
}

.details .grid_left img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
}

.details .movie_card .title,
.details .movie_card .plot {
  font-family: 'Montserrat', sans-serif;

  color: white;
  background-color: black;
  border: none;
  overflow-x: hidden;
  outline: none;
  text-align: center;
  letter-spacing: 2px;
  resize: none;
}

.details .movie_card .title {
  font-size: 400%;
  width: 90%;
  height: 1.8em;
  margin: 25px 0px;
}

.details .movie_card .plot {
  width: 100%;
  height: 100%;
  padding: 0 25px;
  font-size: 200%;
  text-align: left;
}

.details .description_row {
  height: 59%;
}

.details .ui.horizontal.segments > .plot_segment,
.details .ui.horizontal.segments > .info_segment {
  min-width: 50%;
}

.details .movie_card .searchable_info,
.details .movie_card .info {
  width: 100%;
  padding-bottom: 1em;
  font-size: 200%;
  text-align: left;
}

.details .movie_card .searchable_info > p {
  color: white;
  font-size: 60%;
}

.details .movie_card .info > a {
  color: #ffda00;
  font-size: 60%;
}

.details .movie_card .info > span {
  color: white;
  font-size: 150%;
  margin: 0 0.2em;
}

.details .movie_card .searchable_info > p > a {
  color: #ffda00;
  margin: 0.2em;
  letter-spacing: 1px;
  font-style: italic;
  display: inline-block;
}

.searchable {
  padding: 0.2em 0.3em;
  border-radius: 0.6em;
  background-color: rgba(180, 180, 180, 0.3);
}

.details .movie_card .info > i:before {
  margin: 0.3em 0.2em 0 0;
  color: #ffda00;
  font-size: 1.5em;
  display: inline-block;
  content: '\f005';
  font-family: FontAwesome;
}

.details .buttons {
  text-align: right;
}

.details .buttons .hide {
  opacity: 0;
}
.details .buttons .hide:hover {
  display: none;
}

.details .buttons .discard {
  color: #0652dd;
  border-color: #0652dd;
  background: black;
}

.details .buttons .delete {
  color: red;
  border-color: red;
  background: black;
}

.ui.modal {
  position: relative;
  top: calc(50% - 60px);
  left: calc(50% - 180px);
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.ui.pagination.menu .item {
  outline: 0;
}
